/* Main Title Page */
.main-title {
    text-align: center;
    color: white;
    font-size: 3.5rem;
    border-bottom: 1px solid white;
    height: 125px;
    width: 900px;
    margin: 0 auto;
    padding: 1%;
  }
  
  .intro-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; 
  }
  
  .intro-title,
  .intro-subtitle {
    font-size: 24px;
  }
  
  .intro-title,
  .fa-caret-right {
    margin-right: 20px;
  }
  
  .fa-caret-right {
    color: #e8b10e;
    font-size: 50px;
  }
  /* Basic Heading Format */
  h2 {
    display: flex;
    width: 300px;
    color: #fefbe8;
    text-align: left;
    margin-left:75px;
  }
/*List Properties*/
  ul {
    text-align:left;
    position:center;
    width:300px;
  }
  
  li {   
    color: #fefbe8;
    font-size: 1.1em;
    list-style: none;
    margin:6px;
  }
  .fa-check {
    color: #000;
    background-color: #f6b902;
    border-radius: 50%;
    font-size: 12px;
    padding: 6px;
    margin-right: 12px;
  }
  

 /* Background color for containers */
 .footer-container,
 .where-to-use-container,
 .volunteer-container{
     background:#6467A6;
     height:185px;
     display: flex;
    align-items: center;

 } 
 .requirements-container,
 .operator-container{
   background-color: #505387;
   height:185px;
   display: flex;
   align-items: center;
 }

 .main-title-container{
background-color: #505387;
 }

/* Images */

  .logos {
   display:flex;
   padding: 5px;
    border: 3px solid white;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background: white;
  }

  img{
      margin-left:25px;
  }

 img.companylogo {
    display:flex;
    margin:30%;
    position:center;
    
  }

